if statements

In [ ]:
# = (assigment operatpor)
first_Name = 'Jahanzaib'

# logical Opertor (and , or , not)

# and
# T T = T
# T F = F
# F T = F
# F F = F

# OR
# T T = T
# T F = T
# F T = T
# F F = F

# not
# !T = F
# !F = T

# == (compare)
# T == T => T

# >=  (greater than or equal)
# >  (greater than)
# < (less than)
# <=  (less than or equal)

In [ ]:
# if condition :

first_Name= 'Jahanzaib'

print("Independent Block")

if first_Name == 'jahanzaib':
  print("True Case")
  print("True Case 2")

print("Independent Block 2")

if first_Name =='Jahanzaib':
  print("True Case 3")
else:
  print("False Case")

Independent Block
Independent Block 2

In [ ]:
age= 25

if age == 25:
  print("True Case")
else:
  print("False Case")

True Case

In [ ]:
age=24

if age <= 25:
  print("Age 25")

Age 25

In [ ]:
# logical (and , OR , Not)
# 2 conditions ko combine krty ha

age = 24
country ='Pakistan'

# And (and)
# T T = T
# T F = F
# F T = F
# F F = F

if age >=25 and country == 'Pakistan':
  print("You are adualt Pakistani")
else:
  print("You are not a pakistani adult")


# OR (or)
# T T = T
# T F = T
# F T = T
# F F = F


# age = 24 country ='Pakistan'
# F T = T
if age >=25 or country == 'Pakistan':
  print("You are adualt Pakistani OR if case")
else:
  print("You are not a pakistani adult OR else case")

# not
# !T = F
# !F = T


# age = 24 country ='Pakistan'
# T T =  T Not (!)
if age != 25 and country == 'Pakistan':
  print("You are not adult")
else:
  print("You are adult")

You are not a pakistani adult
You are adualt Pakistani OR if case
You are not adult

In [ ]:
list_A= [1,2,3,4,5]

if list_A[1]==1:
  print("True Case")
else:
  print("False Case")

In [ ]:
 number = 24
 # % (Reminder)

 if number % 2 == 0:
   print("Even Number")
 else:
   print("Odd Number")

Even Number

In [ ]:
# list my values check krni ha
# index (list hardcode)
list_A= [1,2,3,4]

if list_A[0] == 1:
  print("One")
else:
  print("Not One")

In [ ]:
# dynamic list (value check)

cars = ['audi', 'bmw2', 'subaru', 'toyota']
for car in cars:
  if car == 'bmw':
    print(car.upper())
  else:
    print(car.title())

Audi
Bmw2
Subaru
Toyota

In [ ]:
cars2 = ['audi', 'bmw2', 'subaru', 'toyota']
# in
# bmw2 == audi
if 'bmw2' in cars2:
    print(True)
else:
    print(False)

True

In [ ]:
banned_users = ['andrew', 'carolina', 'david']

last_name ='tayyab'

#  => ['t','a','y','y','a','b']
if 'z' in last_name:
  print("User")
else:
  print("Not a user")

Not a user

**The if-elif-else Chain**

In [ ]:
# if else
# if elif (else if) (chain)

# if number > 90
# if number > 85 and number <90
# if

# if  number > 90
# elif number > 85 and number <90
# elif number > 80 and number <85


# grading System = > A+ 90 above or equal
# 85 or 90 ky between A-
# 80 0r 85 ky between b+
# 75 0r 80 ky between b-

number = 90

if number <= 60:
    print("F")
elif number  >= 85 and number <90:
  print("A-")
elif number >=90:
  print("A+")
else:
  print("invalid number")

TypeError: '<=' not supported between instances of 'str' and 'int'