In [ ]:
print("Hello Python world!")

Hello Python world!

Variables

In [ ]:
message= True
Message
mEssage
meSsage
mesSage
print(Message)

message

In [ ]:
name
Name23
Name_23
#2Name # not possible
#Name 23
fisrt_name= "Jahanzaib"
last_Name="Tayyab"

String

In [ ]:
#string values
'Hello'
"Hello"
"""Hello"""

'12e623te5678@#@@$#3'

print("This is a string.")
print("This is a string'2.")

This is a string.
This is a string'2.

In [ ]:
"""Hello""" # doc string (Multi line)

multi="""Hello's ,
This "is" multi"""

print(multi)

Hello's ,
This "is" multi

In [ ]:
print('I told my friend, """"""""Python is my favorite language!')

I told my friend, """"""""Python is my favorite language!

In [ ]:
''' Hello '''

' Hello '

In [ ]:
"""Hello"""

'Hello'

In [ ]:
name="Jahanzaib tayyab"
print(name) # jahanzaib tayyb # JAHANZAIB TAYYAB #Jahanzaib Tayyab

Jahanzaib

In [ ]:
print(name.find('j'))

0

In [ ]:
()

In [ ]:
first_Name="Jahanzaib"
last_Name="Tayyab"
batch="Bacth 72"

# Jahanzaib Tayyab Batch 72

print(first_Name)
print(last_Name)
print(batch)

Jahanzaib
Tayyab
Bacth 72

In [ ]:
first_Name="Jahanzaib"
last_Name="Tayyab"
batch="Bacth 72"

# 'Jahanzaib Tayyab Batch 72'

# f string f {}
print(f"'{first_Name},{last_Name} \n,{batch}'")

'Jahanzaib,Tayyab
,Bacth 72'

In [ ]:
name= "Jahanzaib \n Tayy\nab" # \n (new line)
print(name)

Jahanzaib
 Tayy
ab

In [ ]:
name= "Jahanzaib.  \t\nTayy\tab" # \t (8 Char. space)
print(name)

Jahanzaib
Tayy	ab

In [ ]:
 language = '    A              python      '
 print(language.strip()) # rstrip # lstrip #strip

A              python

Numbers


1.   Integer (2,3,4,5)
2.   Float (2.3,4.5)

In [ ]:
num1=2 # integer
num2=3.0 # float

print(num1,num2)

# add num1 + num2 2+3 = 5
# subtrict num1 - num2 2-3 = -1
# multi num1 * num2 2*3 = 6
# divide num1 / num2 2/3 = 0.6666666666666666
# power num1**num2 = 8

2 3.0

In [ ]:
print( (2 - 3) * 4 +3 )

-1

List

In [ ]:
# hamesha []
# values store by index
# index start from 0
# list ky ander kese bi trha ka data store kr skty ha (string , number , boolean , flat, mixer)
# list dynamiclly grow or shrink

In [ ]:
bicycles1 = 'A'
bicycles2='B'
bicycles3='C'
#print(bicycles1)
#print(bicycles2)
#print(bicycles3)

bicycles = ["A","B","C","D"]

print(bicycles)

#index based values
# listName[index]
# index (posistive , neg.)

print(bicycles[1].lower())

['A', 'B', 'C', 'D']
b

In [ ]:
# list values add\remove

#method value add (append)
# method value remove (remove)

In [ ]:
bicycles.append("E")
bicycles.append("F")

print(bicycles)

bicycles.remove("F")

print(bicycles)

['B', 'C', 'D', 'E', 'E', 'F', 'E', 'F', 'E', 'F', 'E', 'F']
['B', 'C', 'D', 'E', 'E', 'E', 'F', 'E', 'F', 'E', 'F']